<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.wpiclubs">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Intent filter to catch Microsoft's callback after Sign In-->
        <!--<activity-->
            <!--android:name="com.microsoft.identity.client.BrowserTabActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--&lt;!&ndash;Add in your scheme/host from registered redirect URI&ndash;&gt;-->
                <!--<data android:scheme="msauth"-->
                    <!--android:host="com.example.wpiclubs"-->
                    <!--android:path="/wOsd384IlOLOiEyx977pjPNpot0=" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

                <!--<meta-data-->
                    <!--android:name="com.google.android.gms.ads.AD_MANAGER_APP"-->
                    <!--android:value="true"/>-->

    </application>

</manifest>